body{
	background:linear-gradient(to right, #115, #88e);
}



.card1,.card2{
	/*border:1px solid #eee;*/
	/*display: inline-block;*/
	width:50%;
	text-align: center;
	margin:auto;
	color: white;
	font-family: sans-serif;
	padding:2%;

}
.card1{
	margin-top: 15%;
	border-bottom: none;
}

h1{
	margin-top: 0; 
	display:inline;
	margin-right: 10%;
}
canvas{
	display: inline;
}
h2{
	display:inline;
	line-height: 5em;
}