<html>
   <head>
      <title>Remember Colors</title>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/colors.css">
   </head>
   <body>

      <div class="container text-center mb-5" id="board">
         <h2 class="mb-5">Remember Colors</h2>
        <h5 class="mb-2">Time : <span id="t" class="text-success">0</span></h5>
      <div class="easy">
      <div id='a' ></div>
      <div id="b" ></div>
      <div id="c" ></div>
      <div id="d" ></div>
      <div id="e" ></div>
      <div id="f" ></div>
      <div id="g" ></div>
      <div id="h" ></div>
      </div>
      
       <div class="medium">
      <div id='am' ></div>
      <div id="bm" ></div>
      <div id="cm" ></div>
      <div id="dm" ></div>
      <div id="em" ></div>
      <div id="fm" ></div>
      <div id="gm" ></div>
      <div id="hm" ></div>
      <div id="im" ></div>
      <div id="jm" ></div>
      <div id="km" ></div>
      <div id="lm" ></div>
      </div>
         
         <div class="hard">
    <div id='ah' ></div>
      <div id="bh" ></div>
      <div id="ch" ></div>
      <div id="dh" ></div>
      <div id="eh" ></div>
      <div id="fh" ></div>
      <div id="gh" ></div>
      <div id="hh" ></div>
      <div id="ih" ></div>
      <div id="jh" ></div>
      <div id="kh" ></div>
      <div id="lh" ></div>
      <div id="mh" ></div>
      <div id="nh" ></div>
      <div id="oh" ></div>
      <div id="ph" ></div>
            
      </div>
         <button class="btn btn-primary px-5 mt-4" id="btn-e">Start Easy</button>
          <button class="btn btn-primary px-5 mt-4" id="btn-m">Start Medium</button>
          <button class="btn btn-primary px-5 mt-4" id="btn-h">Start Hard</button>
      
      <div id="instructions" class="bg-light mt-5 mb-2 p-5 text-left">
         <h5>Instructions</h5>
         <p>
            Each box above has a color which can be found by clicking. When a pair having same color is clicked they disappear. The aim is to eleminate all of them in minimum time.
         </p>
      </div>
      </div>
      <span id="x">asdad</span>
      <script type="text/javascript" src="static/colors.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
   
</html>