{% extends "index.html" %}

{% block title %}
<title>Dice Game</title>
<style type="text/css">
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
    color: #2a6;
    line-height: 2em;
  }
  #btn{
    width: 50%;
    margin: auto;
  }

#image{
  /*display: inline-block;*/
  text-align: center;
  /*border:1px solid black;*/
  padding: 5%;
}
</style>

{% endblock %}


{% block body %}

<h1>Dice Game</h1>

<h2 id="demo">Result : </h2>

<div id="image">
<img id="w" height="150px" width='150px' src="https://www.propdog.co.uk/image/cache/data/accessories/dice/three-way-force-dice-345-500x500.jpg">

</div>

<button onclick="roll()" class="btn btn-primary btn-block" id="btn">Throw Dice</button>



<script>
function roll()
{
    
  var n= Math.ceil(Math.random() * 6);
	document.getElementById("demo").innerHTML=`Result :${n}`;
    
    
    if (n==1)
    {
      document.getElementById("w").setAttribute("src", "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Dice-1.png/120px-Dice-1.png")

    }
    if (n==2)
    {
      document.getElementById("w").setAttribute("src", "https://upload.wikimedia.org/wikipedia/commons/1/18/Dice-2.png")

    }
    if (n==3)
    {
      document.getElementById("w").setAttribute("src", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-TAwBBrMJcreJlsCLbCv7AHScQSeKawLrfnbQvdcoVJnexBLa")

    }
    if (n==4)
    {
      document.getElementById("w").setAttribute("src", "https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Dice-4.svg/557px-Dice-4.svg.png")

    }
    if (n==5)
    {
      document.getElementById("w").setAttribute("src", "https://upload.wikimedia.org/wikipedia/commons/6/6c/Dice-5.png")

    }
    if (n==6)
    {
      document.getElementById("w").setAttribute("src", "https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Dice-6E.png/120px-Dice-6E.png")

    }
    







}
</script>


{% endblock %}